In [1]:
from holipy import holi_id
import Levenshtein as L

In [2]:
dat=holi_id()

In [3]:
dat

In [11]:
dat.on_holiday_name(name='imlek')

In [12]:
dat.the_holiday

             HoliDay date_holiday
2   Tahun Baru Imlek   2013-02-10
21  Tahun Baru Imlek   2014-01-31
38  Tahun Baru Imlek   2015-02-19
56  Tahun Baru Imlek   2016-02-08
76  Tahun Baru Imlek   2017-01-28
98  Tahun Baru Imlek   2018-02-16

In [13]:
dat.the_holiday_date

    year_holiday  month_holiday
2           2013              2
21          2014              1
38          2015              2
56          2016              2
76          2017              1
98          2018              2